# Data Mining





<img src='crisp_dm.png' width=650 height=500/>






## Data Preparation

### After completing materials of this notebook, you should be able to:

* Explain the concept and purpose of data scrubbing
* List possible solutions for handling missing data
* Explain the role and perform basic methods for data reduction
* Define and handle inconsistent data
* Discuss the important and process of attribute reduction

## We will examine data scrubbing in four different ways: 
1. handling missing data,
2. reducing data (observations),
3. handling inconsistent data
4. and reducing attributes.

In [5]:
import pandas as pd
internet_data_set = pd.read_csv('Internet_DataSet.csv')
internet_data_set

,Gender,Race,Birth_Year,Marital_Status,Years_on_Internet,Hours_Per_Day,Preferred_Browser,Preferred_Search_Engine,Preferred_Email,Read_News,Online_Shopping,Online_Gaming,Facebook,Twitter,Other_Social_Network
0,M,White,1972,M,8,1,Firefox,Google,Yahoo,Y,N,N,Y,N,NaN
1,M,Hispanic,1981,S,14,2,Chrome,Google,Hotmail,Y,N,N,Y,N,NaN
2,F,African American,1977,S,6,2,Firefox,Yahoo,Yahoo,Y,Y,NaN,Y,N,NaN
3,F,White,1961,D,8,6,Firefox,Google,Hotmail,N,Y,N,N,Y,NaN
4,M,White,1954,M,2,3,Internet Explorer,Bing,Hotmail,Y,Y,N,Y,N,NaN
5,M,African American,1982,D,15,4,Internet Explorer,Google,Yahoo,Y,N,Y,N,N,NaN
6,M,African American,1981,D,11,2,Firefox,Google,Yahoo,NaN,Y,NaN,Y,Y,LinkedIn
7,M,White,1977,S,3,3,Internet Explorer,Yahoo,Yahoo,Y,NaN,NaN,Y,99,LinkedIn
8,F,African American,1969,M,6,2,Firefox,Google,Gmail,N,Y,N,N,N,NaN
9,M,White,1987,S,12,1,Safari,Yahoo,Yahoo,Y,NaN,Y,Y,N,MySpace
10,F,Hispanic,1959,D,12,5,Chrome,Google,Gmail,Y,N,N,Y,N,Google+
11,H,Hispanic,1959,D,12,5,Chrome,Google,Gmail,Y,N,N,Y,N,Google+

Depending on your objective in data mining, you may choose to leave missing data as they are, or you may wish to replace missing data with some other value.

### Replacing missing values

#### Check for Missing data

isnull is a method in Dataframe class which checks null values

In [2]:
internet_data_set.isnull()

,Gender,Race,Birth_Year,Marital_Status,Years_on_Internet,Hours_Per_Day,Preferred_Browser,Preferred_Search_Engine,Preferred_Email,Read_News,Online_Shopping,Online_Gaming,Facebook,Twitter,Other_Social_Network
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
6,False,False,False,False,False,False,False,False,False,True,False,True,False,False,False
7,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
9,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

try all and any!!!

In [5]:
internet_data_set.isnull().values.any()

True

In [4]:
internet_data_set = pd.read_csv('Internet_DataSet.csv')
print(f'Is there any null value in dataset?? {internet_data_set.isnull().values.any()}')

Is there any null value in dataset?? True

### Replace nan with mode of the attributes

In [7]:
internet_data_set.mode()

,Gender,Race,Birth_Year,Marital_Status,Years_on_Internet,Hours_Per_Day,Preferred_Browser,Preferred_Search_Engine,Preferred_Email,Read_News,Online_Shopping,Online_Gaming,Facebook,Twitter,Other_Social_Network
0,M,White,1977.0,D,6,2.0,Firefox,Google,Yahoo,Y,Y,N,Y,N,LinkedIn
1,NaN,NaN,1981.0,S,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df = pd.read_csv('Internet_DataSet.csv')
df['Online_Gaming']

0       N
1       N
2     NaN
3       N
4       N
5       Y
6     NaN
7     NaN
8       N
9       Y
10      N
Name: Online_Gaming, dtype: object

In [9]:
df['Online_Gaming'].fillna('N', inplace = True)

In [10]:
df['Online_Gaming']

0     N
1     N
2     N
3     N
4     N
5     Y
6     N
7     N
8     N
9     Y
10    N
Name: Online_Gaming, dtype: object

In [81]:
missed_replaced_internet_dataSet = pd.read_csv('Internet_DataSet.csv')

missed_replaced_internet_dataSet['Online_Gaming'].fillna('N',inplace = True)


# missed_replaced_internet_dataSet['Online_Gaming'].fillna('N')
# missed_replaced_internet_dataSet['Online_Gaming'] = missed_replaced_internet_dataSet['Online_Gaming'].fillna('N')
# missed_replaced_internet_dataSet['Online_Gaming'].fillna(missed_replaced_internet_dataSet['Online_Gaming'].mode(),inplace = True) 
missed_replaced_internet_dataSet

,Gender,Race,Birth_Year,Marital_Status,Years_on_Internet,Hours_Per_Day,Preferred_Browser,Preferred_Search_Engine,Preferred_Email,Read_News,Online_Shopping,Online_Gaming,Facebook,Twitter,Other_Social_Network
0,M,White,1972,M,8,1,Firefox,Google,Yahoo,Y,N,N,Y,N,NaN
1,M,Hispanic,1981,S,14,2,Chrome,Google,Hotmail,Y,N,N,Y,N,NaN
2,F,African American,1977,S,6,2,Firefox,Yahoo,Yahoo,Y,Y,N,Y,N,NaN
3,F,White,1961,D,8,6,Firefox,Google,Hotmail,N,Y,N,N,Y,NaN
4,M,White,1954,M,2,3,Internet Explorer,Bing,Hotmail,Y,Y,N,Y,N,NaN
5,M,African American,1982,D,15,4,Internet Explorer,Google,Yahoo,Y,N,Y,N,N,NaN
6,M,African American,1981,D,11,2,Firefox,Google,Yahoo,NaN,Y,N,Y,Y,LinkedIn
7,M,White,1977,S,3,3,Internet Explorer,Yahoo,Yahoo,Y,NaN,N,Y,99,LinkedIn
8,F,African American,1969,M,6,2,Firefox,Google,Gmail,N,Y,N,N,N,NaN
9,M,White,1987,S,12,1,Safari,Yahoo,Yahoo,Y,NaN,Y,Y,N,MySpace
10,F,Hispanic,1959,D,12,5,Chrome,Google,Gmail,Y,N,N,Y,N,Google+

### Drop nan observations

In [11]:
df = pd.read_csv('Internet_DataSet.csv')

### Filtering
When attributes are numeric in nature, such as with ages or number of visits to a certain place, an arithmetic measure of central tendency, such as mean, median or mode might be an acceptable replacement for missing values, but in more subjective attributes, such as whether one is an online shopper or not, you may be better off simply filtering out observations where the datum is missing.

In [12]:
df.dropna(subset = ['Other_Social_Network'],inplace=True)
df

,Gender,Race,Birth_Year,Marital_Status,Years_on_Internet,Hours_Per_Day,Preferred_Browser,Preferred_Search_Engine,Preferred_Email,Read_News,Online_Shopping,Online_Gaming,Facebook,Twitter,Other_Social_Network
6,M,African American,1981,D,11,2,Firefox,Google,Yahoo,NaN,Y,NaN,Y,Y,LinkedIn
7,M,White,1977,S,3,3,Internet Explorer,Yahoo,Yahoo,Y,NaN,NaN,Y,99,LinkedIn
9,M,White,1987,S,12,1,Safari,Yahoo,Yahoo,Y,NaN,Y,Y,N,MySpace
10,F,Hispanic,1959,D,12,5,Chrome,Google,Gmail,Y,N,N,Y,N,Google+

### Inconsistent Data
Inconsistent data occurs when a value does exist, however that value is not valid or meaningful.

### Check for inconsistent data

one way is to check dtypes

In [8]:
internet_data_set = pd.read_csv('Internet_DataSet.csv')

In [9]:
internet_data_set.dtypes

Gender                     object
Race                       object
Birth_Year                  int64
Marital_Status             object
Years_on_Internet           int64
Hours_Per_Day               int64
Preferred_Browser          object
Preferred_Search_Engine    object
Preferred_Email            object
Read_News                  object
Online_Shopping            object
Online_Gaming              object
Facebook                   object
Twitter                    object
Other_Social_Network       object
dtype: object

In [13]:
internet_data_set.apply(type)

Gender                     <class 'pandas.core.series.Series'>
Race                       <class 'pandas.core.series.Series'>
Birth_Year                 <class 'pandas.core.series.Series'>
Marital_Status             <class 'pandas.core.series.Series'>
Years_on_Internet          <class 'pandas.core.series.Series'>
Hours_Per_Day              <class 'pandas.core.series.Series'>
Preferred_Browser          <class 'pandas.core.series.Series'>
Preferred_Search_Engine    <class 'pandas.core.series.Series'>
Preferred_Email            <class 'pandas.core.series.Series'>
Read_News                  <class 'pandas.core.series.Series'>
Online_Shopping            <class 'pandas.core.series.Series'>
Online_Gaming              <class 'pandas.core.series.Series'>
Facebook                   <class 'pandas.core.series.Series'>
Twitter                    <class 'pandas.core.series.Series'>
Other_Social_Network       <class 'pandas.core.series.Series'>
dtype: object

second way is to check uniques

In [17]:
for col in internet_data_set.columns:
    print(f'{col :30s} >>>>      {internet_data_set[col].unique()}')

Gender                         >>>>      ['M' 'F']
Race                           >>>>      ['White' 'Hispanic' 'African American']
Birth_Year                     >>>>      [1972 1981 1977 1961 1954 1982 1969 1987 1959]
Marital_Status                 >>>>      ['M' 'S' 'D']
Years_on_Internet              >>>>      [ 8 14  6  2 15 11  3 12]
Hours_Per_Day                  >>>>      [1 2 6 3 4 5]
Preferred_Browser              >>>>      ['Firefox' 'Chrome' 'Internet Explorer' 'Safari']
Preferred_Search_Engine        >>>>      ['Google' 'Yahoo' 'Bing']
Preferred_Email                >>>>      ['Yahoo' 'Hotmail' 'Gmail']
Read_News                      >>>>      ['Y' 'N' nan]
Online_Shopping                >>>>      ['N' 'Y' nan]
Online_Gaming                  >>>>      ['N' nan 'Y']
Facebook                       >>>>      ['Y' 'N']
Twitter                        >>>>      ['N' 'Y' '99']
Other_Social_Network           >>>>      [nan 'LinkedIn' 'MySpace' 'Google+']

anything else which could help??

In [19]:
internet_data_set.describe()

        Birth_Year  Years_on_Internet  Hours_Per_Day
count    11.000000          11.000000      11.000000
mean   1972.727273           8.818182       2.818182
std      10.743285           4.331701       1.601136
min    1954.000000           2.000000       1.000000
25%    1965.000000           6.000000       2.000000
50%    1977.000000           8.000000       2.000000
75%    1981.000000          12.000000       3.500000
max    1987.000000          15.000000       6.000000

In [18]:
internet_dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 15 columns):
Gender                     11 non-null object
Race                       11 non-null object
Birth_Year                 11 non-null int64
Marital_Status             11 non-null object
Years_on_Internet          11 non-null int64
Hours_Per_Day              11 non-null int64
Preferred_Browser          11 non-null object
Preferred_Search_Engine    11 non-null object
Preferred_Email            11 non-null object
Read_News                  10 non-null object
Online_Shopping            9 non-null object
Online_Gaming              8 non-null object
Facebook                   11 non-null object
Twitter                    11 non-null object
Other_Social_Network       4 non-null object
dtypes: int64(3), object(12)
memory usage: 1.4+ KB

In [23]:
internet_dataSet = pd.read_csv('Internet_DataSet.csv')
internet_dataSet['Twitter'] == '99'

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
Name: Twitter, dtype: bool

In [30]:
# Let's find them
internet_dataSet['Twitter'][internet_dataSet['Twitter'] == 'Y'].index

Int64Index([3, 6], dtype='int64')

In [13]:
internet_data_set = pd.read_csv('Internet_DataSet.csv')
internet_data_set['Twitter'].replace('99' , 'N',inplace=True)
internet_data_set

,Gender,Race,Birth_Year,Marital_Status,Years_on_Internet,Hours_Per_Day,Preferred_Browser,Preferred_Search_Engine,Preferred_Email,Read_News,Online_Shopping,Online_Gaming,Facebook,Twitter,Other_Social_Network
0,M,White,1972,M,8,1,Firefox,Google,Yahoo,Y,N,N,Y,N,NaN
1,M,Hispanic,1981,S,14,2,Chrome,Google,Hotmail,Y,N,N,Y,N,NaN
2,F,African American,1977,S,6,2,Firefox,Yahoo,Yahoo,Y,Y,NaN,Y,N,NaN
3,F,White,1961,D,8,6,Firefox,Google,Hotmail,N,Y,N,N,Y,NaN
4,M,White,1954,M,2,3,Internet Explorer,Bing,Hotmail,Y,Y,N,Y,N,NaN
5,M,African American,1982,D,15,4,Internet Explorer,Google,Yahoo,Y,N,Y,N,N,NaN
6,M,African American,1981,D,11,2,Firefox,Google,Yahoo,NaN,Y,NaN,Y,Y,LinkedIn
7,M,White,1977,S,3,3,Internet Explorer,Yahoo,Yahoo,Y,NaN,NaN,Y,N,LinkedIn
8,F,African American,1969,M,6,2,Firefox,Google,Gmail,N,Y,N,N,N,NaN
9,M,White,1987,S,12,1,Safari,Yahoo,Yahoo,Y,NaN,Y,Y,N,MySpace
10,F,Hispanic,1959,D,12,5,Chrome,Google,Gmail,Y,N,N,Y,N,Google+

In [14]:
# we can drop them to
internet_data_set = pd.read_csv('Internet_DataSet.csv')
index = internet_data_set.index[internet_data_set.Twitter == '99']
internet_data_set.drop(index=index, axis=0, inplace=True)
internet_data_set

,Gender,Race,Birth_Year,Marital_Status,Years_on_Internet,Hours_Per_Day,Preferred_Browser,Preferred_Search_Engine,Preferred_Email,Read_News,Online_Shopping,Online_Gaming,Facebook,Twitter,Other_Social_Network
0,M,White,1972,M,8,1,Firefox,Google,Yahoo,Y,N,N,Y,N,NaN
1,M,Hispanic,1981,S,14,2,Chrome,Google,Hotmail,Y,N,N,Y,N,NaN
2,F,African American,1977,S,6,2,Firefox,Yahoo,Yahoo,Y,Y,NaN,Y,N,NaN
3,F,White,1961,D,8,6,Firefox,Google,Hotmail,N,Y,N,N,Y,NaN
4,M,White,1954,M,2,3,Internet Explorer,Bing,Hotmail,Y,Y,N,Y,N,NaN
5,M,African American,1982,D,15,4,Internet Explorer,Google,Yahoo,Y,N,Y,N,N,NaN
6,M,African American,1981,D,11,2,Firefox,Google,Yahoo,NaN,Y,NaN,Y,Y,LinkedIn
8,F,African American,1969,M,6,2,Firefox,Google,Gmail,N,Y,N,N,N,NaN
9,M,White,1987,S,12,1,Safari,Yahoo,Yahoo,Y,NaN,Y,Y,N,MySpace
10,F,Hispanic,1959,D,12,5,Chrome,Google,Gmail,Y,N,N,Y,N,Google+

### Attribute Reduction

In [27]:
internet_data_set = pd.read_csv('Internet_DataSet.csv')
internet_data_set.drop(['Preferred_Browser'],axis=1, inplace=True)

In [29]:
# how to keep some columns
internet_dataSet[['Twitter','Preferred_Search_Engine']]

   Twitter Preferred_Search_Engine
0        N                  Google
1        N                  Google
2        N                   Yahoo
3        Y                  Google
4        N                    Bing
5        N                  Google
6        Y                  Google
7       99                   Yahoo
8        N                  Google
9        N                   Yahoo
10       N                  Google

*:)*